body{
    font-size: 40px;
    position: relative;
    background: -webkit-linear-gradient(left, #FFFACD, #FFFFFF, #FFFACD);
    background: -o-linear-gradient(left, #FFFACD, #FFFFFF, #FFFACD);
    background: -moz-linear-gradient(left, #FFFACD, #FFFFFF, #FFFACD);
    background: linear-gradient(left, #FFFACD, #FFFFFF, #FFFACD);
}
a[href$="fonts"]{
    color: #A0522D;
    position: relative;
    margin-left: -240px;
    left: 50%;
    font-family: 'Microsoft JhengHei', 'Heiti TC', 'WenQuanYi', 'Zen Hei', 'PMingLiU';
    line-height: 60px;
}
p{
    position: relative;
    text-align: center;
}
.Lobster{
    font-family: 'Lobster', cursive;
}
.Open_Sans{
    font-family: 'Open Sans', sans-serif;
}
.Roboto{
    font-family: 'Roboto', sans-serif;
}
.Lato{
    font-family: 'Lato', sans-serif;
}
.Oswald{
    font-family: 'Oswald', sans-serif;
}
.Montserrat{
    font-family: 'Montserrat', sans-serif;
}
.Merriweather{
    font-family: 'Merriweather', serif;
}
.Fjalla_One{
    font-family: 'Fjalla One', sans-serif;
}
.Indie_Flower{
    font-family: 'Indie Flower', cursive;
}
.Titillium_Web{
    font-family: 'Titillium Web', sans-serif;
}
.Passion_One{
    font-family: 'Passion One', cursive;
}
.Poiret_One{
    font-family: 'Poiret One', cursive;
}
.Candal{
    font-family: 'Candal', sans-serif;
}
.Nunito{
    font-family: 'Nunito', sans-serif;
}
.Anton{
    font-family: 'Anton', sans-serif;
}
.Bree_Serif{
    font-family: 'Bree Serif', serif;
}
.Play{
    font-family: 'Play', sans-serif;
}
.Josefin_Sans{
    font-family: 'Josefin Sans', sans-serif;
}
.Pacifico{
    font-family: 'Pacifico', cursive;
}
.Francois_One{
    font-family: 'Francois One', sans-serif;
}
.Shadows_Into_Light{
    font-family: 'Shadows Into Light', cursive;
}
.Quicksand{
    font-family: 'Quicksand', sans-serif;
}
.Sigmar_One{
    font-family: 'Sigmar One', cursive;
}
.Orbitron{
    font-family: 'Orbitron', sans-serif;
}
.Dancing_Script{
    font-family: 'Dancing Script', cursive;
}
.Bangers{
    font-family: 'Bangers', cursive;
}
.Architects_Daughter{
    font-family: 'Architects Daughter', cursive;
}
.Exo{
    font-family: 'Exo', sans-serif;
}
.fangsong{
    font-family: 'cwTeXFangSong', serif;
}
.texhei{
    font-family: 'cwTeXHei', sans-serif;
}
.texkai{
    font-family: 'cwTeXKai', serif;
}
.texming{
    font-family: 'cwTeXMing', serif;
}
.texyen{
    font-family: 'cwTeXYen', sans-serif;
}